body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
    background-image: linear-gradient(lightblue,lightgray,white);
    height:900px;
    color: black;
}
#logo
{
    align-items: center;
    padding-left:30px;
}
#header
{
    margin:10px;
    padding: top 0.05em;
}
#title
{
    font-size: 75px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
#demo
{   align-items: center;
    margin: 10px;
    margin-bottom: 10px;
    padding-left: 300px;
    padding-bottom: 70px;
    size: 50px;
}
#contact
{
    margin: 10px;
    padding:30px;
}