.body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title
{
    color: blue;
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#demo
{   align-items: center;
    margin: 10px;
    margin-bottom: 1px;
    padding: 100px;
    size: 50px;
}
#text
{
    color:orangered;
}